@import "library/*.styl"

$start_profile_width = 220px
$search_results_width = 352px
$search_results_width_all = 402px

submenu-triangle-open()
	.submenu-triangle
		visibility visible
		background-color rgba(48, 48, 48, .95)
		box-shadow 1px -1px 10px rgba(0,0,0,0.5)
		height calc(100vh - 40px)
		max-height 580px

profile-open()
	&.profile
		visibility visible
		.submenu
			height calc(100vh - 86px)
			max-height 534px
			bottom 86px
			opacity 1


@media screen and (min-width: 800px)
	body
		margin-bottom 40px

	.l-top_menu-v2
		position relative
		background-color #151718
		position fixed
		bottom 0
		padding 0
		width 100%
		height 40px

		.logo-container
			display none
		.menu-logo
			align-items flex-start
		.menu-icon
			height 40px
			&:before
				line-height 40px !important
		.global-search
			position relative
			margin 0
			padding 0
			width 50px
			height 40px
			z-index 5
			&:hover
				background-color rgba(255, 255, 255, .2)
			.hotkey-marker
				display none
			.search-marker
				position absolute
				background-image image('svg/search.svg')
				top 8px
				left 13px
				width 24px
				height 24px
				filter invert(1)
				&:before
					display none
			.search-results
				visibility hidden
				// position fixed
				top unset !important
				left 0
				bottom 56px
				width $search_results_width
				height calc(100vh - 106px)
				max-height 514px
				border none
				transition all 0.2s ease-in-out
				overflow-y hidden
				z-index 10
			.field
				width 49px
				height 100%
			.clear
				visibility hidden
			input
				background-color transparent
				border-radius 0
				padding 0
				height 100%
				opacity 0
				z-index 11
		&.is-submenu
			.menu-dropdown
				&.main
					background-color rgba(255, 255, 255, .2)
					.submenu
						visibility visible
						height calc(100vh - 80px)
						max-height 540px
						overflow-y auto
					submenu-triangle-open()
				profile-open()
		&.is-search-focus
			.menu-dropdown
				&.main
					background-color transparent !important
			.global-search
				background-color rgba(255, 255, 255, .2)
				.search-results
					visibility visible
					height calc(100vh - 87px)
					max-height 533px
					bottom 86px
					overflow-y auto
				input
					position relative
					bottom 46px
					width $search_results_width
					height 46px
					background-color #fff
					border-radius 0
					padding 0 40px 0 8px
					opacity 1
				.clear
					visibility visible
					position absolute
					top unset
					bottom 42px
					left 314px
			.menu-dropdown
				&.main
					background-color rgba(255, 255, 255, .2)
					.submenu
						visibility hidden
					.submenu-triangle
						visibility visible
						background-color rgba(48, 48, 48, .95)
						box-shadow 1px -1px 10px rgba(0,0,0,0.5)
						height calc(100vh - 40px)
						max-height 580px
						width $search_results_width_all
				profile-open()
		.menu-dropdown
			&.main
				margin 0
				padding 12px 16px
				width 49px
				height 40px
				z-index 5
				&:hover
					&:before
						filter brightness(70%)
				&:before
					display inline-block
					content ''
					background-image image('svg/windows_logo.svg')
					background-position center
					width 17px
					height 17px
					transition all 0.2s ease-in-out
					filter brightness(0%) invert(100%)
				
				.submenu-triangle
					display block !important
					visibility hidden
					background-color transparent
					position absolute
					width 352px
					max-width 800px !important
					height calc(100vh - 100px)
					max-height 560px
					transition all 0.2s ease-in-out
					left 0
					bottom 40px
					z-index -2
					&:after
					&:before
						display none
					span
						display none
				.submenu
					visibility hidden
					display block
					position absolute
					background-color transparent
					top unset !important
					left 50px
					bottom 60px
					width 300px
					height calc(100vh - 260px)
					max-height 360px
					border none
					overflow-y hidden
					transition all 0.25s ease-in-out
			&.profile
				background-color transparent
				visibility hidden
				z-index 8
				& > span
					position fixed
					background-color transparent
					left 0
					bottom 40px
					min-width 50px
					z-index 9
				&.active
					.submenu-triangle
						background-color #4e5257
						width $start_profile_width
					.submenu
						background-color #4e5257
						width $start_profile_width
						max-width $start_profile_width
						.legend
							display block
				.submenu-triangle
					background-color transparent
					transition color 0.25s ease-in-out, background-color 0.25s ease-in-out, width 0.25s ease-in-out
					padding 0 10px
					width 50px
					img
						border-radius 50%
					&:after
						display none
					&:hover
						background-color #fff
						color #123
				.submenu
					display flex !important
					flex-direction column
					position fixed
					justify-content flex-end
					background-color transparent
					top unset !important
					left 0
					bottom 56px
					width 50px
					height calc(100vh - 106px)
					max-height 514px
					border none
					transition all 0.25s ease-in-out
					opacity 0
					z-index 8
					.legend
						display none
					a
						width $start_profile_width

	// .l-top_menu-v2 .active .submenu
	// 	max-height calc(100vh - 46px)
	// 	overflow auto

// .p-profiles .profile-head .c-info,
// .p-profiles .profile-head .c-history,
// .p-profiles-show .profile-content .activity,
// .p-profiles-show .profile-content .lifetime,
// .p-profiles-show .profile-content .c-column.c-right,
// .l-content,
// .l-menu,
// .p-profiles-edit .block.m0,
// .p-user_history .block.m0,
// .p-achievements .block.m0,
// .p-achievements .p-achievements-global,
// .p-profiles-moderation .block.m0,
// .p-profiles-favourites .block.m0,
// .p-pages-ongoings .block.m0,
// .p-messages .block.m0,
// .p-dialogs .block.m0,
// .p-statistics .block,
// .p-pages-info .cc-2a,
// .p-moderations .block,
// .p-dashboards .block2,
// .p-pages .block2,
// .p-pages .cc-second,
// .p-dashboards .cc-second,
// .p-pages .cc-news,
// .p-dashboards .cc-news,
// .p-pages .b-brief,
// .b-collection_search,
// .p-contests .block,
// .b-topic,
// .p-profiles-show .profile-content .block:not(.cc-2) 
// 	border-radius 8px !important
// 	padding 6px !important
// 	background-color rgba(255, 255, 255, 0.7) !important
// 	box-shadow 0 0 12px rgba(255, 255, 255, 0.7) !important
// 	transition background-color 0.15s ease-in-out
